body{font-family: "Roboto", sans-serif;
    background-color:  rgba(233, 231, 231, 0.898);;
}

#head{
    font-family: "Roboto", sans-serif;
    
    text-align: center;
    color: white;
    

  

}


nav{
    background-color: #4266f5 ;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    left:0%;
  
}

 

nav li{
display: inline-block;
    list-style: none ;
    margin: 0px 13px;
}

nav a { 
    color: white;
    text-decoration: none; 
}


a:hover {
    background-color: #87a832; 
    font-size: 20px;
    
  }


 img {      

   border-radius: 100%;
   height: 500px;
   width: 500px; 

   
  } 


  main { padding-top: 80px; 
    text-align: center;
  }

  



  table {
    border-collapse: collapse;                          
    width: 800px;
    text-align: center;
    font-size: 18px;
    margin: 0px auto;

  }
  
  th, td {
    border: 3px solid #1e40af;
    padding: 12px;
  }
  
  th {
    background-color: #1e40af; 
    color: white;
  }
  
  .Project1{
   
    text-align: center;
    border: 1px solid grey ;
    border-radius: 10px;
    width: 50%; 
  margin: 10px auto; 
    background-color: white;

    
   
    
  }

  h2{ text-align: center;}

  .Project2{
   
    text-align: center;
    border: 1px solid grey ;
    border-radius: 10px;
    width: 50%; 
  margin: 10px auto; 

    background-color:white;

  }
  .Heading{
     font-size: 20px; 
    font-weight: bold; 
    margin-top: 20px;

  }
  
  .Content{
    margin-bottom:30px;
  }


input[type="text"],
input[type="email"],

textarea {
  width: 70%;              
  padding: 10px;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 14px;

}

    .button {
        display: block;  
        background-color: #0a4db3;     
        color: white;                 
        border: none;                  
        border-radius: 5px;           
        padding: 10px 90px;          
        font-size: 16px;              
        margin: 20px auto;             
    }
    .back-to-top{
        position:fixed;
        right:22px;
        bottom:22px;
        background:#244ebd;
        color:#fff;
        text-decoration:none;
        border:none;
        border-radius:8px;
        padding:10px 18px;
        font-weight:700;
      }
